/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1em;
    text-decoration: none;
    color: white;
}

/* global variables */

:root {
    --ct-width-max: 382px;
    --ct-width-min: 326px;

    --ct-height-max: 612px;
    --ct-height-min: 580px;
    
    --int-width-max: 303px;
    --int-width-min: 278px;

    --ff-100: Inter;

    --fw-regular: 400;
    --fw-semi-bold: 600;
    --fw-bold: 700;

    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-neutral-200: hsl(0, 0%, 20%);
    --clr-neutral-300: hsl(0, 0%, 12%);
    --clr-neutral-400: hsl(0deg 0% 8%);
    
    --clr-accent-100: hsl(75, 94%, 57%);
}

/* general styles */

body {
    background-color: var(--clr-neutral-400);
    color: var(--clr-neutral-100);
    font-family: var(--ff-100);
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: var(--ct-width-max);
    height: var(--ct-height-max);
    border-radius: 10px;
    background-color: var(--clr-neutral-300);
}

.main-wrapper {
    width: var(--int-width-max);
    margin: 0 auto;
    margin-top: 38px;
    text-align: center;
}

@media (max-width: 450px) {
    .container {
        width: var(--ct-width-min);
        height: var(--ct-height-min);
    }
    .main-wrapper {
        width: var(--int-width-min);
        margin-top: 21px;
    }
}

img {
    border-radius: 100px;
    width: 90px;
}

h1 {
    margin-top: 25px;
    font-size: 24px;
    font-weight: var(--fw-semi-bold);
}

.location {
    display: block;
    margin-top: 10px;
    color: var(--clr-accent-100);
    font-size: 14px;
    font-weight: var(--fw-semi-bold);
}

p {
    margin-top: 25px;
    font-size: 14px;
    font-weight: var(--fw-regular);
}

ul {
    margin-top: 25px;
}

ul * + * {
    margin-top: 15px;
}

a {
    display: block;
    background-color: var(--clr-neutral-200);
    border-radius: 7px;
    height: 45px;
    line-height: 45px;
    font-size: 14px;
    font-weight: var(--fw-semi-bold);
}

a:hover,
a:focus {
    background-color: var(--clr-accent-100);
    color: var(--clr-neutral-400);
}