/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
}

/* global variables */

:root {
    --ct-width-max: 23.875rem;
    --ct-width-min: 20.375rem;

    --ct-height-max: 38.25rem;
    --ct-height-min: 36.25rem;
    
    --int-width-max: 18.9375rem;
    --int-width-min: 17.275rem;

    --ff-100: Inter;

    --fw-regular: 400;
    --fw-semi-bold: 600;
    --fw-bold: 700;

    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-neutral-200: hsl(0, 0%, 20%);
    --clr-neutral-300: hsl(0, 0%, 12%);
    --clr-neutral-400: hsl(0deg 0% 8%);
    
    --clr-accent-100: hsl(75, 94%, 57%);
}

/* general styles */

body {
    background-color: var(--clr-neutral-400);
    color: var(--clr-neutral-100);
    font-family: var(--ff-100);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    width: var(--ct-width-max);
    height: var(--ct-height-max);
    border-radius: 10px;
    background-color: var(--clr-neutral-300);
}

.main-wrapper {
    width: var(--int-width-max);
    margin: 0 auto;
    margin-top: 2.375rem;
    text-align: center;
}

@media (max-width: 30em) {
    .container {
        width: var(--ct-width-min);
        height: var(--ct-height-min);
    }
    .main-wrapper {
        width: var(--int-width-min);
        margin-top: 1.3125rem;
    }
}

img {
    border-radius: 3rem;
    width: 5.625rem;
}

h1 {
    margin-top: 1.56rem;
    font-size: 1.5rem;
    font-weight: var(--fw-semi-bold);
}

.location {
    display: block;
    margin-top: 0.625rem;
    color: var(--clr-accent-100);
    font-size: 0.875rem;
    font-weight: var(--fw-semi-bold);
}

p {
    margin-top: 1.5rem;
    font-size: 0.875rem;
    font-weight: var(--fw-regular);
}

ul {
    margin-top: 1.5rem;
}

ul * + * {
    margin-top: 1rem;
}

li {
    list-style: none;
}

a {
    display: block;
    background-color: var(--clr-neutral-200);
    border-radius: 0.4375rem;
    height: 2.8125rem;
    line-height: 2.8125rem;
    font-size: 0.875rem;
    font-weight: var(--fw-semi-bold);
}

a:hover,
a:focus {
    background-color: var(--clr-accent-100);
    color: var(--clr-neutral-400);
}